.picture {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.mainHomeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(75, 75, 75);
  height: 500px;
  color: rgb(255, 255, 255);
}

#title-home {
  font-size: 35px;
}

.informationsHome {
  padding-bottom: 120px;

}
