
html{
  background-color: rgb(0, 0, 0);
}

.picture {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.mainHomeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(243, 243, 243);
  height: 500px;
  color: rgb(0, 0, 0);
}

#title-home {
  font-size: 35px;
}

.informationsHome {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.home-text {
  font-family: monospace;
  font-size: 26px;
  margin: 2px;
  animation-name: homeText;
  animation-duration: 6s;
}

.home-text-name {
  font-family: monospace;
  font-size: 40px;
  margin: 2px;
  margin-bottom: 5px;
  animation-name: homeTextName;
  animation-duration: 6s;
}

.isDeveloperContainer {
  display: flex;
  font-family: monospace;
  width: 300px;
  justify-content: space-evenly;
  font-size: 20px;
}

@keyframes IsDeveloper {
 from {
   opacity: 0;
   width: 0;
 }
 to {
   opacity: 1;
   width: 100%;
 }

}

@keyframes homeText {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
  
}

@keyframes homeTextName {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
}

.animation-css {
  animation: IsDeveloper 6s infinite linear;
  overflow: hidden;
  animation-direction: initial;
}

#const {
  color: rgb(143, 31, 143);
}

#developer {
  color: rgb(25, 125, 206);
}

#recebe {
  color: rgb(143, 31, 143);
}

#true {
  color: rgb(238, 142, 32);
}

.form-container {
  display: flex;
  flex-flow: column wrap;
  max-height: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form {
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  justify-content: center;
}

.form p {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  font-family: monospace;
}

.form textarea {
  resize: none;
  width: 100%;
}

.form input {
  width: 100%;
}