.navigationBar {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.links-container-header {
  display: flex;
  width: 40%;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}

.empty-header-container {
  width: 50%;
}

.linkpath {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

#icon-back-header {
  width: 30px;
}
