#main-container{
  margin: 40px 0px 40px 0px;
  padding: 30px;
  background-color: rgb(75, 75, 75);
  height: 460px;

}

#links-container{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 10px;
}

#informations-container{
  text-align: center;
  margin-bottom: 40px;
}